<!DOCTYPE html>
  <head>
    <meta charset="UTF-8" />
    <title>문제집</title>
  </head>
  <body>
    <h1>문제집</h1>
    <div id="login">
      <h3>
        로그인하기
      </h3>
      <form action="/login" method="post">
        <p><input type="text" name="id" placeholder="아이디"></p>
        <p><input type="text" name="password" placeholder="비밀번호"></p>
        <div id="loginfail">
          <% if(isLoginFailed) {
            %> 아이디 또는 비밀번호가 잘못되었습니다. <%
          } %>
        </div>
        <p><button type="submit">LOGIN</button></p>
      </form>
    </div>
  </body>
</html>